.portfolio {
  display: block;
  width: 75vw;
  margin-left: 25vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
}

.project-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  /* background-color: rgb(157, 221, 157); */
  justify-content: center;
  align-items: center;
}

.project-title-h1 {
  text-align: center;
  font-size: 4rem;
  padding: 4rem 3rem 3rem 3rem;
  color: var(--main-title-color);
}

.project-card-wrapper {
  max-width: 150rem;
  /* background-color: rgb(224, 155, 192); */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.project-card {
  background-color: #fff;

  box-shadow: 0 1px 3px rgba(123, 159, 148, 0.7);

  /* background-color: red; */
  max-width: 40rem;
  height: 53rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  margin: 0 4rem;
  border-radius: 10px;
}

.project-name-h2 {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--main-title-color);
}

.project-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(40, 72, 62, 0.7);
}

.project-video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
}

.project-tech-stack-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-teck-stack {
  margin: 2rem 0.5rem;
  text-align: center;
  background-color: #eae7dc;
  /* background-color: #d8c3a5; */
  border-radius: 15px;
  padding: 0.8rem;
  font-size: 2rem;
}

.project-description {
  text-align: center;
  font-size: 2rem;
  /* background-color: red; */
  height: 4em;
}

.project-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-btn {
  text-align: center;
  width: 15rem;
  /* min-width: 12rem; */
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: none;

  background-color: var(--secondary-page-color);

  padding: 15px 20px;
  font-size: 2rem;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  margin: 15px 7px 0px 7px;
  font-weight: 600;
  color: white;
}

.project-btn:hover {
  background-color: var(--main-bg-color);
  color: white;
}

.live-icon {
  stroke-width: 1;
}

@media screen and (max-width: 1365px) and (min-width: 1001px) {
  .project-title-h1 {
    font-size: 3.5rem;
  }

  .project-btn {
    font-size: 1.5rem;
  }

  .project-card {
    max-width: 30rem;
    margin-bottom: 4rem;
    box-shadow: 1px 1px 3px 4px rgba(144, 173, 164, 0.7);
  }
}
@media screen and (max-width: 1001px) {
  .portfolio {
    width: 100%;
    margin-top: 3rem;
    margin-left: 0rem;
    height: auto;
  }
  .project-wrapper {
  }
  .project-card-wrapper {
    flex-direction: column;
  }

  .project-card {
    max-width: 50rem;
    margin-bottom: 4rem;
    box-shadow: 1px 1px 3px 4px rgba(144, 173, 164, 0.7);
  }
  .project-name-h2 {
    font-size: 3rem;
  }

  .project-teck-stack {
    font-size: 3rem;
  }

  .project-description {
    font-size: 3rem;
  }

  .project-btn {
    padding: 15px 10px;
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 568px) {
}

@media screen and (max-width: 451px) {
  .project-title-h1 {
    font-size: 3.5rem;
    padding: 4rem 3rem 0rem 3rem;
  }

  .project-card {
    max-width: 35rem;
    border: 1px solid rgba(144, 173, 164, 0.7);
    /* box-shadow: 0 0 5px rgba(144, 173, 164, 0.7); */
    box-shadow: none;
  }

  .project-name-h2 {
    font-size: 2.3rem;
  }

  .project-img {
    box-shadow: 0 0 5px rgba(144, 173, 164, 0.7);
  }

  .project-teck-stack {
    font-size: 2rem;
  }

  .project-description {
    font-size: 2rem;
  }

  .project-btn {
    font-size: 1.9rem;
    font-weight: 300;
  }
}

@media screen and (max-width: 362px) {
  /* Here */
}

@media screen and (max-width: 281px) and (max-height: 654px) {
  /* Here */
}
