.photo-sketch {
  border-radius: 50%;
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 -10px;
}
.side-menu {
  background-color: lightgreen;
  width: 25%;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  border-radius: 7px;
}

.side-menu-items {
  margin: 0 0 0 30px;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px 0 10px 10px;
}

.side-text {
  text-decoration: none;
  display: flex;
}

.side-text a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 10px;
}

.name-link {
  display: block;
  text-decoration: none;
  padding: 10px 0 10px 0;
  color: black;
  font-size: 16px;
}
.my-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 0;
}

.front-end {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px 0 10px 15px; */
  /* margin: 10px 0 0 -10px; */
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .side-menu {
    background-color: blue;
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 7px;
  }

  .photo-sketch {
    border-radius: 50%;
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 17px;
  }
  .name-link {
    display: block;
    text-decoration: none;
    padding: 10px 0 10px 0;
    color: white;
    font-size: 17px;
  }
  .my-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px 0;
  }

  .front-end {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px 0 10px 15px; */
    /* margin: 10px 0 0 -10px; */
  }

  .menu-icon {
    display: flex;
    position: fixed;
    padding: 15px 0px 0px 250px;
    justify-content: flex-end;
    align-items: flex-end;
    /* right: 200px; */
    /* transform: translate(-100%, 60%); */
    font-size: 1.8rem;
    cursor: pointer;
  }
  /* 
  .fa-times {
    color: red;
    font-size: 2rem;
  } */
}
