.side-menu {
  background-color: lightgreen;
  width: 25%;
  height: 100vh;
  position: fixed;
  border-radius: 7px;
}

.name-and-photo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-sketch {
  border-radius: 50%;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 30px;
}

.name-link {
  text-decoration: none;
  color: black;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap; /*this prevents the line break*/
  letter-spacing: 2px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.name-link a {
  display: fixed;
  align-items: center;
  justify-content: center;
}

.my-name {
  display: flex;
  justify-content: center;
}

.front-end {
  display: flex;
  justify-content: center;
}

.side-text {
  text-decoration: none;
  display: flex;
}
