@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap");
html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.aboutMe,
.portfolio,
.myCv,
.blog,
.contactMe {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

::selection {
  background-color: #5fbba1;
}
